body 
{
    background: white;
}

#score
{
    font-size:35px;
    margin-left:20px;
}

#time
{
    font-size:35px;
    float:right;
    margin-right:20px;
}

#sketch_name
{
    color:black;
}